@charset"UTF-8";

// Nickname page -------------------------------------------------------------------------------

.bg-main{
    background-color: #e3e3e3;
}
.color-primary-css{
    color: #1f1f1f;
}
.bg-primary-css{
    background-color: #1f1f1f;
}
.text-secondary-css{
    color: #7d7d7d;
}
.rounded-bottom-50{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.rounded-top-50{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
input{
    height:35px;
    width:66%
}
.rounded-left-50{
    border-top-left-radius: 20px;
    border-bottom-left-radius:20px;
}
.rounded-right-50{
    border-top-right-radius: 20px;
    border-bottom-right-radius:20px;

}

.nickname_container {
    background-color: #3c3c3c;
    border-radius: 50px;
    height: 54px;
    width: 81%;

    

    #nickname {
      background-color: #3c3c3c;
      float: left;
      height: 22px;
      margin-top: 16px;
      margin-left: 5.675675675675676%;
      width: 50%;
      border: none;
    }

    .nickname_btn {
      background-color: #007ef4;
      width: 45px;
      height: 45px;
      margin-top: 4.5px;
      margin-right: 1.351351351351351%;
      float: right;
      border: none;
      border-radius: 100%;
    }

    a {
      text-decoration: none;
      color: #fff;

      i {
        height: 45px;
        width: 100%;
        text-align: center;
        line-height: 45px;
      }
    }
  }

  @media only screen and (max-width: 770px) {
      .bg-main{
        background-color: #282828;
      }
      .responsive-text-center{
        text-align:center!important;
      }
      .color-primary-css{
        color: #545454;
    }
    .responsive-hidden{
        display:none!important;
    }
  }

  //Nickname page ----------------------------------------------------------------------------------
  //chatroom page ------------------------------------------------------------------------------------
    .active{
        background-color:#007ef4;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
    }
  //chatroom page -------------------------------------------------------------------------------------

  //index-test ----------------------------------------------------------------------------------------

  html,body,#wrapper {
    height:100%;
    margin:0;
    padding:0;
}
#wrapper {
    position:relative;
}

#top, #middle, #bottom {
    position:absolute;
}

#top {
    height:125px;
    width:100%;
}
#middle {
    top:125px;
    bottom:125px;
    width:100%;

}
#bottom {
    bottom:0;
    height:125px;
    width:100%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .nickname-container{
    a:hover{
        pointer-events:none;
    }
  }
  .form-right{
    float:right;
    width: 50%;
  }
  .chat-submit{
    background-color: #3c3c3c;
    border-radius: 50px;
    height: 54px;
  }


  