@charset"UTF-8";
.bg-main{
    background-color: #e3e3e3;
}
.bg-primary-css{
    background-color: #1f1f1f;
}
.text-secondary-css{
    color: #7d7d7d;
}
.rounded-bottom-50{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

input[type="text"] {
    width: 200px;
    height: 25px;
    padding-right: 50px;
}

input[type="submit"] {
    margin-left: -50px;
    height: 25px;
    width: 60px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
}